@import url('https://fonts.googleapis.com/css2?family=Zen+Maru+Gothic:wght@400;500;700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: rgba(245, 245, 220, 0.426);
    font-family: 'Zen Maru Gothic', sans-serif;
    min-height: 100vh;
}
.container {
    background-color: white;
    padding: 1rem;
}
.large-screen {
    display: none;
}
.login {
    padding: 1rem 0.5rem;
    position: absolute;
    width: 100%;
    top: 30%;
    left: 0;
}
.login form {
    margin: 0 auto;
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.login form input {
    padding: 0.9rem 1.5rem;
    width: 100%;
    margin: 0 auto 3%;
    border: 1px solid cyan;
    border-radius: 45px;
}
.login form button {
    margin: 2% auto 0;
    width: 50%;
    background-color: #3c3cfe;
    color: white;
    border: 1px solid #3c3cfe;
    border-radius: 45px;
    padding: 1rem 0;
}
.login form button:hover {
    font-weight: 600;
    background-color: blue;
    border:1px solid blue;
}
h1 #user {
    color: #3c3cfeb9;
}
.bal {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2%;
    margin: 3% 0;
}
.bal h2 {
    font-size: 1.8rem;
    color: #5cbd559b;
}
.bal h3 {
    padding: 2% 0;
    font-size: 1.2rem;
}
.bal p {
    display: flex;
    flex-wrap: wrap;
    gap: 2px;
    color: #000000ac;
}
.transaction-summary {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    gap: 5px;
    border-radius: 5px;
    padding: 0.5rem;
    min-height: 200px;
    height: 200px;
    overflow-y: scroll;
    font-weight: 500;
    border: 1px solid rgba(210, 215, 221, 0.304);
    background-color: rgba(210, 215, 221, 0.304);
}
.transaction-summary li {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    width: 100%;
    border-radius: 20px;
    padding: 0.5rem;
    border: 1px solid #fff;
    background-color: #fff;
    font-size: 0.9rem;
    box-shadow: 2px 2px 5px #3c3cfe0d, -2px -2px 5px #3c3cfe0d;
}
.transaction-summary li span {
    font-weight: bold;
    text-transform: capitalize;
}
.transaction-summary li span:nth-child(2) {  
    border: 1px solid #c52927;
}
.transaction-summary li span.loan{
    border: 1px solid #5cbd55;
}
.transaction-summary li span.amount {
    border-radius: 15px;
    padding: 0.1rem 0.5rem;
}
section {
    border: none;
    border-radius: 10px;
    margin: 5% auto;
    padding: 1rem;
}
section form {
    margin: 5% auto;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    gap: 10px;
    text-align: center;
}
section form label {
    width: 35%;
    font-weight: 500;
}
section form label input, button {
    width: 100%;
    padding: 0.4rem;
    border-radius: 5px;
}
section:nth-child(1) {
    backdrop-filter: blur(10px);
    background: linear-gradient(to top left, #3c3cfe 40%,rgba(0, 0, 128, 0.504))
}
section:nth-child(1) form label input {
    background-color: skyblue;
    border: 1px solid skyblue;
    margin-bottom: 10%;
}
section:nth-child(2) {
    backdrop-filter: blur(50px);
    background: linear-gradient(to top left,#5cbd55 40%, rgba(0, 255, 0, 0.687));
}
section:nth-child(2) form  label{
    width: 50%;
}
section:nth-child(2) form label input {
    background-color: rgba(0, 128, 0, 0.21);
    border: 1px solid rgba(0, 128, 0, 0.21);
    margin-bottom: 10%;
}
section:nth-child(3) {
    backdrop-filter: blur(30px);
    background: linear-gradient( to bottom right,#ff0300, #c52927);
}
section:nth-child(3) form label input {
    background-color: #871110c4;
    border: 1px solid #871110c4;
    backdrop-filter: blur(50px);
    margin-bottom: 10%;
}
button {
    width: 25%;
    border: 1px solid white;
    background-color: white;
    font-weight: 700;
}
#credit-debit-summary {
    font-weight: 700;
    font-size: 1.3rem;
    margin: 5% auto;
    padding: 0.5rem;
    display: flex;
    justify-content: center;
    gap: 20px;
    text-align: center;
}
#credit {
    color: #5cbd55;
}
#debit {
    color: #ff0000;
}

@media screen and (min-width: 40em) and (max-width:60em) {
    body {
        min-height: 100vh;
        display: flex;
        position: relative;
    }
    .large-screen {
        display: none;
    }
    h1 {
        font-size: 3rem;
    }
    .bal h2 {
        font-size: 2.2rem;
    }
    .bal h3 {
        font-size: 1.5rem;
    }
    main {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .transaction-summary {
        width: 50%;
        height: 200px;
    }
    .make-transactions {
        width: 45%;
    }
    
}

@media screen and (min-width: 60em) {
    body {
        min-height: 100vh;
        border: 10px solid red;
        display: flex;
        position: relative;
    }
    .container,.login {
        display: none;
    }
    .large-screen {
        display: block;
        width: 40%;
        background-color: red;
        padding: 1rem;
        text-align: center;
        margin: 0 auto;
        font-weight: 700;
        font-size: 1.2rem;
        position: absolute;
        animation: warning 3s ease-in-out infinite;
        transition: all .02;
    }
    @keyframes warning {
        0% {
            color: black;
             top: 40%;
            left: 30%; 
        }
        25% {
            top: 60%;
            left: 30%;
        }
        50% {
            top: 40%;
           left: 30%; 
        }
        75% {
            top: 60%;
            left: 30%;
        }
        100% {
            top: 40%;
            left: 30%;
        }
    }
}